@import 'tailwindcss';

@theme {
  --font-sans: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

/* Quita las flechitas del input numérico para capturar más rápido */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
